/*configuro el body (aplico una imagen de fondo, cambio el tipo de letra y el interlineado*/
body {
    background-image: url(imagen-fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 87%;
    background-position: center center;
    font-family: Tahoma, sans-serif;
    line-height: 1.3;
}

/*le doy una posicion a la imagen de la foto*/
img {
    position:absolute;
    left: 250px;
    bottom: 330px;
}

/*configuro el encabezado (color de fondo, tipo de textoy posicion del texto*/
header {
    background-color:rgb(25, 105, 15);
    font-family: Tahoma, sans-serif;
    text-align: center;
    color:beige;
    padding: 15px;
}

/*centro el texto del footer*/
footer {
    text-align: center;
}