body {
    /* background-image: url(/images/fondo.png); */
    background-color:rgba(165, 42, 42, 0.822);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1%;
}

header {
    display: block;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    background-color:beige;
    border-radius: 32px 32px 0 0;
}

h1 {
    font-family:'Courier New';
    font-size: 200%;
    color:black;
    display: flex;
    flex-direction: column;
    text-justify: center;
    text-align: center;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
}

.reglamento {
    background-color: black;
}

h2 {
    font-family:'Courier New';
    color: yellow;
}

h3 {
    font-family:'Courier New';
    color: white;
}

h4 {
    font-family:'Courier New';
    color: white;
    font-size: small;
}

#barra {
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_progressbar_label_js */
        width: 60% ;
        height: 6px;
        background-color: grey;
        margin-left: 20%;
      }

.area-juego {
    flex-direction: row;
    display: flex;
    background-color: black;
    justify-content:space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

}

p {
    color:red;
    margin: 10%;
    background-color: beige;
    font-size: 22px;
    font-weight: 900;
}

#resultado-ronda {
    margin: 0;
    padding: 0;
    background-color: black;
}

#result-ronda {
    margin: 0;
    padding: 0;
}

#jugadores {
    width: 150px;
    height: 80px;
    background-color:beige;
    text-align: center;
    text-justify: center;
    font-family:'Courier New';  
    border-radius: 1rem;
}

img.jugada-player,
img.jugada-pc {
    display: flex;
    width: 170px;
    height: 170px;
    padding: 2%;
    border-radius: 50%;
}

/* button {
    width: 30px;
    height: 30px;
    background-color: black;
    text-align: center;
    border-style:hidden;
    cursor: pointer;
} */


.botonera{
    display:block;  
    flex-direction: column;
    padding-bottom: 4vh;
    background-color: black;
    padding-bottom: 1vh;
    border-radius: 0 0 35px 35px;
}

button:hover {
    scale: 1.1;
}

 #btn-piedra {
    background-image: url(/images/piedra.PNG);
    height: 40px;
    width: 40px;
    background-size: contain;
    margin-top: 60px;
    border-radius: 50%;
}

#btn-papel {
    background-image: url(/images/papel.PNG);
    height: 40px;
    width: 40px;
    background-size: contain;
    margin-top: 60px;
    border-radius: 50%;
}

#btn-tijera {
    background-image: url(/images/tijera.PNG);
    height: 40px;
    width: 40px;
    background-size: contain;
    margin-top: 60px;
    border-radius: 50%;
}

.disabled {
    display: none;
}