body {
    background-image: url(background1.jpg); /*aplico imagen de fondo a todo el body*/
    font-family: tahoma, sans-serif;/*estilo de fuente para todo el body*/
    text-align: center; /*controla la alineación de texto en el eje vertical*/
}

.area-de-trabajo {
    background-color: rgb(25, 105, 15); /*color de fondo*/
    height: 50vh; /*altura del área= 50% de la altura de la pantalla*/
    margin: 10%; /*margen= 10% respecto al ancho del contenedor*/

    display: flex; /*area adaptable a distintos tamaños*/
    flex-direction: column; /*eje de alineacion vertical*/
    border-radius: 20px; /*redondeo de esquinas con un radio de 15 px*/
}

h1 {
    color: yellow; /*color de fuente*/
    font-size:330%; /*tamaño de fuente (300% del tamaño inicial)*/
}

button {
    background-color: rgb(51, 51, 221); /*color de fondo del boton*/
    color: rgb(233, 212, 184); /*color de texto del boton*/
    cursor: pointer; /*cambio de formato del cursor al pasar por el boton*/
    border-radius: 5px; /*redondeo de esquinas con un radio de 5 px*/
}

button:hover{
    scale: 1.1; /*el boton incrementa su tamaño un 10% al pasar el cursor*/
}

input {
    border-radius: 5px; /*redondeo de esquinas con un radio de 5 px*/
    height: 20px; /*aumento la altura de los campos de input*/
}

p {
    color: black; /*color de texto*/
    line-height: 5px; /*ajusto el interlineado entre párrafos*/
}